<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('home') }}">首页</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('transfer',name='btc') }}">转账</a></li>
            <li><a href="{{ url_for('transfer_record',name='btc') }}">转账记录</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    设置 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('logout') }}">退出</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url_for('login') }}">登录</a></li>
                </ul>
            </li>
        </ul>
    </div>
    </div>
</nav>