{% extends "base.html" %}

{% block main %}
       <blockquote>
        <p>
        欢迎进入ex.money交易所数字货币管理平台
        </p>
      </blockquote>
      <blockquote>
        今天共收到     200 笔 <br>
        当前未处理转账  100 笔<br>
        当日未处理转账  50  笔<br>
        <small>xxx <cite title="My Title">yyy</cite></small>
      </blockquote>
      <blockquote class="pull-right">
       
        <small> <cite title="My Title"></cite></small>
      </blockquote>
<!-- {% include 'flash_messages.html' %} -->
{% endblock %}
